<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1>Escolha seu filme: </h1>

<form action="#" th:action="@{/filme}">
    <input type="text" th:name="search"/>
    <button type="submit">search</button>
</form>

<div th:each="filme: ${filmes}">
    <ul>
        <li th:text="'Código filme: ' + ${filme}"></li>
        <li th:text="'Título: ' + ${filmeStat.get()}"></li>
        <li th:text="'Sinopse: ' + ${filme.get()}"></li>
        <li th:text="'Valor: ' + ${filme.get()}"></li>
        <li th:text="'Genero: ' + ${filme.get()}"></li>
    </ul>
</div>

</body>
</html>
